body {
  display: flex;
  justify-content: center;
}

.app {
  height: 600px;
  width: 100vh;
}

.map {
  height: 100%;
  width: 100%;
}


.marker {
  background-image: url('https://d221h2fa9j1k6s.cloudfront.net/tomtom-guides/company-location/img/pizza_marker.png');
  background-size: cover;
  width: 50px;
  height: 70px;
  /**
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px darkslategray;*/
}

.marker-delivery {
  background-image: url('https://i.imgur.com/cIooqnp.png');
  background-size: cover;
  width: 22px;
  height: 22px;
  border-radius: 15px;
  border: solid darkslategrey 3px;
}